<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94213465783-2om936a8rgv9ongkftqd31qavjgv5asa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94213465783-2om936a8rgv9ongkftqd31qavjgv5asa</string>
	<key>API_KEY</key>
	<string>AIzaSyDv4fDtxI4-qVJ3UZNPMXLkeZaFZw0_Ru8</string>
	<key>GCM_SENDER_ID</key>
	<string>94213465783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anon</string>
	<key>PROJECT_ID</key>
	<string>anon-c0a35</string>
	<key>STORAGE_BUCKET</key>
	<string>anon-c0a35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94213465783:ios:ac20c28390d531f0088f32</string>
</dict>
</plist>